<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <appSettings file="app.config.local">
    <add key="username" value="dlombard"/>
    <add key="password" value="admin1!"/>
    <add key="server0" value="cluster0-shard-00-00-mddzz.mongodb.net"/>
    <add key="server1" value="cluster0-shard-00-01-mddzz.mongodb.net"/>
    <add key="server2" value="cluster0-shard-00-02-mddzz.mongodb.net"/>
    <add key="replicaSetName" value="Cluster0-shard-0"/>
  </appSettings>
</configuration>
